<!DOCTYPE html>
<html lang="ko" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/css/reset.css">
  <link rel="stylesheet" href="./static/css/common.css">
  <% for (i = 0; i < css.length; i++) { %>
    <link rel="stylesheet" href="<%= css[i] %>">
  <% } %>
  <title>Web Pub Boilerplate</title>
</head>
<body>
  <div id="app">